<a href="https://colab.research.google.com/github/kjhjh6051/portfolio/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B3%BC%ED%95%99_1%EC%9D%BC%EC%B0%A8_%EA%B9%80%EC%A7%84%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# ==================================================
# 1일차 - 1교시: 데이터 과학 세상으로 출발! & Google Colab과 Pandas 첫 만남
# ==================================================
# 이 셀은 주로 이론 설명과 Colab 환경 설정 안내를 위한 텍스트 셀로 구성됩니다.
# 아래는 Pandas를 사용하기 위한 필수 라이브러리 임포트입니다.

# 1. Pandas 라이브러리 불러오기
# 데이터 분석의 가장 기본적인 도구인 Pandas를 'pd'라는 별명으로 불러옵니다.
import pandas as pd

# Pandas가 성공적으로 불러와졌는지 간단히 확인합니다.
# (실제로는 버전 정보 등을 출력할 수 있지만, 여기서는 간단한 메시지만 출력합니다.)
print("Pandas 라이브러리가 'pd'라는 이름으로 성공적으로 불러와졌습니다!")
print(f"사용 중인 Pandas

SyntaxError: unterminated string literal (detected at line 14) (<ipython-input-1-a84a61822e6c>, line 14)

In [7]:
# ==================================================
# 1일차 - 1교시: 데이터 과학 세상으로 출발! & Google Colab과 Pandas 첫 만남
# ==================================================
# 이 셀은 주로 이론 설명과 Colab 환경 설정 안내를 위한 텍스트 셀로 구성됩니다.
# 아래는 Pandas를 사용하기 위한 필수 라이브러리 임포트입니다.

# 1. Pandas 라이브러리 불러오기
# 데이터 분석의 가장 기본적인 도구인 Pandas를 'pd'라는 별명으로 불러옵니다.
import pandas as pd
import numpy as np

#데이터 csv파일 가져오기
url_autos="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
#이름 정의
headers_auto=["symboling", "normalized-losses", "make", "fuel-type", "aspiration",
                "num-of-doors", "body-style", "drive-wheels", "engine-location",
                "wheel-base", "length", "width", "height", "curb-weight", "engine-type",
                "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke",
                "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]
#복사본 제작
df_cars_original = pd.read_csv(url_autos, header=None, names=headers_auto, na_values="?")

#불러온 데이터 엿보기







# Pandas가 성공적으로 불러와졌는지 간단히 확인합니다.
# (실제로는 버전 정보 등을 출력할 수 있지만, 여기서는 간단한 메시지만 출력합니다.)
print("Pandas 라이브러리가 'pd'라는 이름으로 성공적으로 불러와졌습니다!")
print(f"사용 중인 Pandas 버전: {pd.__version__}")

# [텍스트 셀 안내]
# 이 아래에는 다음과 같은 내용을 마크다운 텍스트 셀로 추가해주세요:
# - 데이터 과학이란 무엇일까요? (핵심 개념)
# - 우리 주변에서 볼 수 있는 데이터 과학의 예시들
# - 왜 데이터 분석에 파이썬을 많이 사용할까요?
# - 오늘 우리가 사용할 주요 도구 소개: Pandas, Matplotlib, Google Colab
# - Google Colab 사용법 안내:
#   - 새 노트 만들기 및 파일 이름 변경 방법
#   - 코드 셀 추가 및 실행 방법 (Shift + Enter)
#   - 텍스트 셀 추가 및 마크다운 사용법 간략 소개

Pandas 라이브러리가 'pd'라는 이름으로 성공적으로 불러와졌습니다!
사용 중인 Pandas 버전: 2.2.2

In [8]:
# ==================================================
# 1일차 - 2교시: 데이터를 요리하기 위한 재료 손질 (1) & 자동차 데이터 불러오고 살펴보기
# ==================================================
print("\n--- 1일차 2교시 시작 ---")

# 1. Pandas 라이브러리 (이미 불러왔지만, 명시적으로)
import pandas as pd
import numpy as np # '?'를 NaN으로 바꾸기 위해 필요

# 2. 자동차 데이터셋 불러오기
url_autos = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

# 컬럼 이름 정의 (총 26개)
headers_auto = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration",
                "num-of-doors", "body-style", "drive-wheels", "engine-location",
                "wheel-base", "length", "width", "height", "curb-weight", "engine-type",
                "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke",
                "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

# CSV 파일 불러오기. '?'를 NaN으로 바로 인식하도록 na_values 옵션 사용
df_cars_original = pd.read_csv(url_autos, header=None, names=headers_auto, na_values="?")
print("자동차 데이터 로드 완료.")

# 원본을 유지하기 위해 복사본으로 작업 (매우 중요!)
df_auto = df_cars_original.copy()
print("작업용 데이터프레임(df_auto) 복사 완료.")

# 3. 불러온 데이터 엿보기
print("\n--- df_auto 맨 앞 5줄 ---")
print(df_auto.head())
print("\n--- df_auto 맨 뒤 3줄 ---")
print(df_auto.tail(3))
print("\n--- df_auto 전체 크기 (행, 열) ---")
print(df_auto.shape)

# 4. 초기 데이터 상태 확인 (info)
print("\n--- 초기 df_auto 종합 정보 (info) ---")
df_auto.info()
# 여기서 'normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price' 컬럼이
# object 타입이고, Non-Null Count가 전체 행 수보다 적은 것을 확인할 수 있습니다 (NaN 때문에).

print("\n--- 1일차 2교시 실습 종료 ---")

--- 1일차 2교시 시작 ---
자동차 데이터 로드 완료.
작업용 데이터프레임(df_auto) 복사 완료.

--- df_auto 맨 앞 5줄 ---
   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0      111.0
1          130         mpfi  3.47    2.68               9.0      111.0
2          152         mpfi  2.68    3.47               9.0      154.0
3          109         mpfi  3.19    3.40              10.0      102.0
4          136         mpfi  3.19    3.40               8.0      115.0

   peak-rpm city-mpg  highway-mpg    price
0    5000.0       21           27  13495.0
1    5000.0       21           27  16500.0
2    5000.0       19           26  16500.0
3    5500.0       24           30  13950.0
4    5500.0       18           22  17450.0

[5 rows x 26 columns]

--- df_auto 맨 뒤 3줄 ---
     symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
202         -1               95.0  volvo       gas        std         four
203         -1               95.0  volvo    diesel      turbo         four
204         -1               95.0  volvo       gas      turbo         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
202      sedan          rwd           front       109.1  ...          173
203      sedan          rwd           front       109.1  ...          145
204      sedan          rwd           front       109.1  ...          141

     fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
202         mpfi  3.58    2.87               8.8      134.0    5500.0
203          idi  3.01    3.40              23.0      106.0    4800.0
204         mpfi  3.78    3.15               9.5      114.0    5400.0

    city-mpg  highway-mpg    price
202       18           23  21485.0
203       26           27  22470.0
204       19           25  22625.0

[3 rows x 26 columns]

--- df_auto 전체 크기 (행, 열) ---
(205, 26)

--- 초기 df_auto 종합 정보 (info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

--- 1일차 2교시 실습 종료 ---